---
# This include_vars allows you to keep your vaulted variables outside of your main repo
# It assumes the PRIVATE_REPO environment variable is set to the path of your private repo
# On home-infra, this is done by firstrun.sh.
# However, this role will not break if you do not have these
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/ansible-vault/{{ ansible_role_name }}-vars.yml"
      skip: true

- name: "Template the gitea.yml file to the role's files/ directory"
  ansible.builtin.template:
    src: gitea.yml.j2
    dest: "{{ role_path }}/files/gitea.yml"
    owner: "{{ interactive_user }}"
    group: "{{ interactive_user }}"
    mode: '0644'
    force: true
  delegate_to: localhost

- name: "Include role to deploy gitea-stack to Portainer"
  ansible.builtin.include_role:
    name: waal70.portainer
  vars:
    do_stack_update: true
    stack_list:
      - name: gitea
        file: gitea.yml # file is in files/ of this role

- name: "Return the gitea yaml back to its placeholder version"
  ansible.builtin.copy:
    src: gitea.yml.placeholder
    dest: "{{ role_path }}/files/gitea.yml"
    owner: "{{ interactive_user }}"
    group: "{{ interactive_user }}"
    mode: '0644'
    remote_src: false
    force: true
  delegate_to: localhost
